body {

    background-color: #22262c ;
    font-style: italic;
    
}

.paragrafo1 {

color: rgb(230, 188, 249)
;

text-align: center;

}
.paragrafoI {

    color: rgb(230, 188, 249)
;

text-align: center;

    font-size: 24px;
}


